version: '3.8'

services:
  stat_voice_bot:
    build: .
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    restart: always
    dns:
      - 8.8.8.8
      - 1.1.1.1
    dns_search: .