services:
  stat_voice_bot:
    build: .
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    restart: always
    volumes:
      - /dejavu:/usr/share/fonts/TTF/dejavu:ro
    networks:
      app-network:

networks:
  app-network:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: 1400